.airlines-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .airlines-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0;

        .airline-column {
            padding: 10px;

            .list-item {
                .image-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $white;
                    padding: 30px 30px 100px 30px;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
}
