.app-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .links-column {
        overflow: hidden;
    }

    .footer-links {
        width: 100%;
        display: flex;
        position: relative;

        .footer-links-wrapper {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;

            .links-box {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 10px;

                .links-box-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 15px;
                    border: 1px dashed $gray;

                    .link-box-header {
                        width: 100%;
                        margin-bottom: 10px;
                        margin-top: 0;
                        font-size: 14px;
                        font-weight: bold;
                        color: $black;
                        text-transform: uppercase;

                        @media #{$small-and-down} {
                            text-align: center;
                        }
                    }
                }
            }

            .link-item {
                width: 100%;
                margin: 5px 0;
                font-size: 13px;
                text-decoration: none;
                color: $black;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: $blue;
                }

                &.separated {
                    margin-bottom: 5px;
                    margin-top: 0;
                    padding: 10px;
                    background-color: $gray;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media #{$small-and-down} {
                    text-align: center;
                }
            }

            .main-link {
                width: 100%;
                margin: 5px 0;
                font-size: 14px;
                font-weight: bold;
                color: $blue;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: $orange;
                }

                .name {
                    margin-right: 5px;
                }

                @media #{$small-and-down} {
                    text-align: center;
                }
            }

            .combination-links {
                width: 100%;
                padding: 10px;
                border: 1px dashed $gray;
                margin-bottom: 20px;

                .link-item {
                    padding: 0 25px;
                }

                .main-link {
                    padding: 0 25px;
                }
            }
        }
    }

    .footer-rights {
        width: 100%;
        display: flex;
        position: relative;
        background: $black;

        .footer-rights-wrapper {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;

            .app-logo {
                width: 100%;
                height: 50px;
                margin: 5px;
                position: relative;
                display: flex;
                justify-content: center;
            }

            .app-copyright {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                text-align: center;
                margin: 5px;
                font-size: 16px;
                color: $white;
            }
        }
    }
}
