.no-scroll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#pre-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4f0f0;
    background-image: url("/images/loading.gif");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 999999;
}
