.component-advantages {
  width: 100%;
  min-height: 400px;
  display: flex;
  position: relative;
  margin-top: 100px;
  background-image: url("#{$images_path}#{$template_path}last.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .advantages-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .advantages-items {
      width: 100%;
      margin: 20px 0;

      .advantage-item {
        width: 100%;
        padding: 15px;

        .advantage-box {
          width: 100%;
          height: 500px;
          padding: 20px;
          background-color: $secondary-color-transparent;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .advantage-icon {
            color: $white;
            font-size: 60px;
            text-align: center;
            margin: 5px 0;
          }

          .advantage-count {
            text-align: center;
            margin: 5px 0;

            button {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              color: $white;
              font-size: 40px;
              background: $primary-color;
              border: none;
            }
          }

          .advantage-title {
            color: $white;
            font-size: 25px;
            text-align: center;
            margin: 10px 0;
            text-transform: capitalize;
          }

          .advantage-text {
            color: $white;
            font-size: 15px;
            text-align: center;
            margin: 5px 0;
          }
        }
      }
    }
  }
}
