.component-calendar {
  width: 100%;
  display: flex;
  padding-top: 50px;
  background: $gray;

  .calendar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .calendar-widget {
    width: 100%;
    padding: 15px;
    margin: 20px 0;

    @media #{$small-and-down} {
      padding: 0 5px;
    }
  }
}
