.app-copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
    margin: 5px;
    font-size: 14px;
    color: $white;
}
