.search-results {
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
}

.component-flights {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-image: url("#{$images_path}#{$template_path}flights.jpg");
  background-position: center;
  background-size: cover;

  .flights-form {
    width: 100%;
    padding: 10px;
  }

  .mewtwo-widget {
    padding: 10px !important;
    border-radius: 5px !important;

    .mewtwo-flights {
      background: transparent !important;
      border: none !important;
    }

    .mewtwo-best_offers.mewtwo-best_offers--hidden {
      display: none !important;
    }
  }

  .mewtwo-modal input,
  .mewtwo-modal select,
  .mewtwo-modal textarea,
  .mewtwo-widget input,
  .mewtwo-widget select,
  .mewtwo-widget textarea,
  .mewtwo-flights-trip_class {
    border: none !important;
    //color: #ffffff !important;
    background: #ffffff !important;
    border-radius: 0 !important;
    position: relative !important;
  }

  .mewtwo-flights-trip_class__passengers,
  .mewtwo-placeholder-label {
    //color: #ffffff !important;
  }

  .mewtwo-flights-origin-country {
    //* {
    //  color: #ffffff !important;
    //}

    &:after {
      background: transparent !important;
    }
  }

  .mewtwo-flights-container {
    form {
      .mewtwo-flights-origin,
      .mewtwo-flights-destination {
        margin: 5px 0 !important;
      }

      .mewtwo-flights-trip_class,
      .mewtwo-flights-dates {
        margin: 5px 0 !important;

        &:before,
        &:after {
          content: none !important;
        }
      }

      .mewtwo-flights-dates-depart,
      .mewtwo-flights-dates-return {
        margin: 0 !important;
        border-radius: 0 !important;
      }

      .mewtwo-swap_button {
        width: 30px !important;
        height: 100% !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        background-position: center !important;
        background-color: transparent !important;
      }

      .mewtwo-input-icons {
        height: 100% !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;

        &:before,
        &:after {
          content: none !important;
        }
      }

      .mewtwo-flights-submit_button {
        width: 100% !important;
        margin: 10px 0 !important;
        display: flex !important;
        justify-content: center !important;

        button {
          width: auto !important;
          padding: 0 20px !important;
        }
      }
    }
  }

  .mewtwo-flights--l,
  .mewtwo-flights--xl {
    width: 100% !important;
  }

  .mewtwo-widget {
    width: 100% !important;
  }

  .mewtwo-flights-container {
    width: 100% !important;
  }

  .mewtwo-widget .mewtwo-flights {
    width: 100% !important;
    padding: 0 !important;
  }

  .mewtwo-widget .mewtwo-flights-origin,
  .mewtwo-widget .mewtwo-flights-destination {
    width: 25% !important;
  }

  .mewtwo-widget .mewtwo-flights-dates {
    width: 30% !important;
  }

  .mewtwo-widget .mewtwo-flights-trip_class {
    width: 20% !important;
  }

  .mewtwo-flights--l .mewtwo-widget .mewtwo-flights-dates,
  .mewtwo-flights--l .mewtwo-widget .mewtwo-flights-trip_class,
  .mewtwo-flights--l .mewtwo-widget .mewtwo-flights-origin,
  .mewtwo-flights--l .mewtwo-widget .mewtwo-flights-destination,
  .mewtwo-flights--m .mewtwo-widget .mewtwo-flights-trip_class,
  .mewtwo-flights--m .mewtwo-widget .mewtwo-flights-dates,
  .mewtwo-flights--m .mewtwo-widget .mewtwo-flights-origin,
  .mewtwo-flights--m .mewtwo-widget .mewtwo-flights-destination {
    width: 50% !important;
  }

  .mewtwo-flights--s .mewtwo-widget .mewtwo-flights-dates,
  .mewtwo-flights--s .mewtwo-widget .mewtwo-flights-trip_class,
  .mewtwo-flights--s .mewtwo-widget .mewtwo-flights-origin,
  .mewtwo-flights--s .mewtwo-widget .mewtwo-flights-destination,
  .mewtwo-flights--xs .mewtwo-widget .mewtwo-flights-trip_class,
  .mewtwo-flights--xs .mewtwo-widget .mewtwo-flights-dates,
  .mewtwo-flights--xs .mewtwo-widget .mewtwo-flights-origin,
  .mewtwo-flights--xs .mewtwo-widget .mewtwo-flights-destination {
    width: 100% !important;
  }
}
