.component-hits {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 50px;

  .hits-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .hit-items {
      width: 100%;
      margin: 20px 0;

      .hit-item {
        padding: 15px;

        .weedle-widget {
          padding: 0 !important;
          height: 200px !important;
          max-width: 100% !important;
          border-radius: 0 !important;
          box-shadow: none !important;

          .weedle-header {
            height: 100%;

            > a {
              height: 100% !important;
              vertical-align: bottom !important;
              text-align: left !important;
              padding: 30px 30px 60px 30px !important;

              .weedle-header__city {
                display: inline-block !important;
                text-align: left !important;
                font-weight: 400 !important;
                font-size: 20px !important;
              }

              .weedle-header__country {
                text-align: left !important;
                font-weight: 400 !important;
                font-size: 20px !important;
              }

              .weedle-header__image {
                height: 100% !important;
              }
            }
          }

          .weedle-offers_list {
            width: 100% !important;
            position: absolute !important;
            bottom: 0 !important;
            padding: 30px !important;
            z-index: 5;

            .weedle-offers_list-item {
              display: none !important;

              &:first-child {
                display: block !important;
              }

              > a {
                color: $white !important;

                .weedle-offers_list-item__origin {
                  display: none !important;
                }

                .weedle-offers_list-item__price {
                  right: auto !important;
                  left: 0 !important;
                  background: transparent !important;
                  text-transform: capitalize !important;
                  padding: 0 !important;

                  &:before {
                    content: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
