.component-not-found {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 60px 0 60px;
    background-image: url("#{$images_path}404.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .search-container {
        width: 100%;
        position: relative;

        .app-logo {
            width: 100%;
            height: 80px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .search-widget {
            width: 100%;
        }
    }

    .not-found-content {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: column;

        .not-found-icon {
            width: 100%;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 100px;
            font-weight: bold;
            color: $white;
        }

        .home-button {
            width: 100%;
            padding: 10px;
            position: relative;
            display: flex;
            justify-content: center;

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
            }
        }
    }
}
