.component-search {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 60px;
    transform: scale(1);
    background-image: url("#{$images_path}#{$template_path}home.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .search-container {
        width: 100%;
        position: relative;

        .app-logo {
            width: 100%;
            height: 80px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .search-widget {
            width: 100%;
        }
    }
}
