.social-icons-list {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .social-link-item {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        background: $secondary-color;
        color: $white;
        font-size: 20px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $primary-color;
        }
    }
}
