.component-subscribe {
    width: 100%;
    display: flex;
    background-image: url("#{$images_path}#{$template_path}newsletter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .subscribe-wrapper {
        width: 100%;
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .tp-sbscr-widget {
            width: 100% !important;
            max-width: 900px !important;
            background: transparent !important;

            .tp-sbscr-widget-header {
                width: 100% !important;
                text-align: center !important;
                display: inline-block;
                margin: 5px 0;
                padding: 10px;
            }

            .tp-sbscr-widget-description-wrapper {
                width: 100% !important;
                text-align: center !important;
                display: inline-block;
                margin: 5px 0;
                padding: 10px;

                .tp-sbscr-widget-description {
                    width: 100% !important;
                    text-align: center !important;
                }
            }

            .tp-sbscr-widget-email-wrapper {
                width: 70% !important;

                @media #{$medium-and-down} {
                    width: 100% !important;
                }

                input {
                    height: 60px !important;
                    background-color: transparent !important;
                    border: 3px solid $gray !important;
                    color: $gray !important;
                    font-size: 15px !important;
                    font-weight: bold !important;
                    opacity: 0.7 !important;

                    &:focus {
                        opacity: 1 !important;
                    }
                }
            }

            .tp-sbscr-widget-button-wrapper {
                width: 30% !important;

                @media #{$medium-and-down} {
                    width: 100% !important;
                }

                button {
                    height: 60px !important;
                    border-radius: 0 !important;
                    background-color: $secondary-color !important;
                    opacity: 1 !important;

                    &:hover {
                        opacity: 0.9 !important;
                    }
                }
            }
        }
    }
}
