body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    * {
        box-sizing: border-box;
    }
}

.app-full {
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
}

.app-fill {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*grid styles*/
.app-row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.app-column {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    position: relative;

    &.large-12 {
        flex: 0 0 100%;
    }

    &.large-10 {
        flex: 0 0 83.33333%;
    }

    &.large-9 {
        flex: 0 0 75%;
    }

    &.large-8 {
        flex: 0 0 66.66667%;
    }

    &.large-6 {
        flex: 0 0 50%;
    }

    &.large-4 {
        flex: 0 0 33.33333%;
    }

    &.large-3 {
        flex: 0 0 25%;
    }

    &.large-2 {
        flex: 0 0 16.66667%;
    }

    &.middle-12 {
        @media #{$medium-and-down} {
            flex: 0 0 100%;
        }
    }

    &.middle-10 {
        @media #{$medium-and-down} {
            flex: 0 0 83.33333%;
        }
    }

    &.middle-9 {
        @media #{$medium-and-down} {
            flex: 0 0 75%;
        }
    }

    &.middle-8 {
        @media #{$medium-and-down} {
            flex: 0 0 66.66667%;
        }
    }

    &.middle-6 {
        @media #{$medium-and-down} {
            flex: 0 0 50%;
        }
    }

    &.middle-4 {
        @media #{$medium-and-down} {
            flex: 0 0 33.33333%;
        }
    }

    &.middle-3 {
        @media #{$medium-and-down} {
            flex: 0 0 25%;
        }
    }

    &.middle-2 {
        @media #{$medium-and-down} {
            flex: 0 0 16.66667%;
        }
    }

    &.small-12 {
        @media #{$small-and-down} {
            flex: 0 0 100%;
        }
    }

    &.small-10 {
        @media #{$small-and-down} {
            flex: 0 0 83.33333%;
        }
    }

    &.small-9 {
        @media #{$small-and-down} {
            flex: 0 0 75%;
        }
    }

    &.small-8 {
        @media #{$small-and-down} {
            flex: 0 0 66.66667%;
        }
    }

    &.small-6 {
        @media #{$small-and-down} {
            flex: 0 0 50%;
        }
    }

    &.small-4 {
        @media #{$small-and-down} {
            flex: 0 0 33.33333%;
        }
    }

    &.small-3 {
        @media #{$small-and-down} {
            flex: 0 0 25%;
        }
    }

    &.small-2 {
        @media #{$small-and-down} {
            flex: 0 0 16.66667%;
        }
    }
}

.column-wrapper {
    width: 100%;
    height: 100%;
    min-height: 250px;
    padding: 5px;
    display: flex;
    flex: 1;
}

.full-wrap {
    display: flex;
    min-height: 100%;
    flex: 1;
}


//blocks align styles
.align-center {
    display: flex;
    justify-content: center;
}

.align-left {
    display: flex;
    justify-content: flex-start;
}

.align-middle {
    display: flex;
    align-items: center;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.align-top {
    display: flex;
    align-items: flex-start;
}

.primary-title {
    width: 100%;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 400;

    @media #{$small-and-down} {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 5px;
    }

    &.dark-text {
        color: $black;
    }

    &.light-text {
        color: $white;
    }
}

.secondary-title {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 300;
    text-align: center;

    @media #{$small-and-down} {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    &.dark-text {
        color: $black;
    }

    &.light-text {
        color: $white;
    }
}

.paragraph {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;

    &.dark-text {
        color: $black;
    }

    &.light-text {
        color: $white;
    }
}

.content-container {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.page-content {
    p {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 14px;
        color: $black;

        @media #{$small-and-down} {
            text-align: center;
        }
    }

    h3 {
        width: 100%;
        padding: 5px;
        margin-bottom: 0;
        margin-top: 5px;
        line-height: 1.3;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;

        @media #{$small-and-down} {
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 5px;
            text-align: center;
        }
    }

    .info {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-bottom: 2px dashed $gray;
        border-top: 2px dashed $gray;
    }

    .map {
        width: 100%;
        display: flex;
        padding: 10px;
        margin: 10px 0;

        iframe {
            width: 100%;
            height: 400px;
        }
    }

    img {
        max-width: 100%;
    }
}

.app-logo-image {
    height: 100%;
    width: auto;
}
