
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #131a2f;
$secondary-color: #fe435b;
$secondary-color-transparent: rgba(254, 67, 91, 0.8);
$blue: #0a98c2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$green-bold: #35b76c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$gray: #f5f5f5;
$black: #131a2f;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 767px !default;
$medium-screen: 1025px !default;
$medium-portrait: 800px !default;
$large-screen: 1200px !default;

//grid
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-portrait-and-down: "only screen and (max-width : #{$medium-portrait})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

//text
$text-secondary-color: #ffffff;

//sources
$template_path: 'templates.tripxg/';
$images_path: '/images/';
$fonts_path: '/fonts/';

//blocks sizes
$header-height: 70px;
