.tp-sbscr-widget-wrapper {
    width: 100% !important;
}

.tp-sbscr-widget {
    .tp-sbscr-widget-agreement__text {
        display: none !important;
    }

    .tp-sbscr-widget-button-wrapper,
    .tp-sbscr-widget-email-wrapper {

        @media #{$small-and-down} {
            width: 100% !important;
        }

        button,
        input {
            @media #{$small-and-down} {
                width: 100% !important;
            }
        }
    }
}
