.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px 0;

    .primary-title,
    .secondary-title {
        margin-bottom: 20px;
        border-top: 1px dashed $gray;
        border-bottom: 1px dashed $gray;
    }

    .list-wrapper {
        width: 100%;
        display: flex;
        padding: 50px 10px;
        background-color: $primary-color;

        .list-item {
            width: 100%;
            height: 270px;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .image-wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition: all 1.5s ease-in-out;
                }
            }

            &:hover {
                .image-wrapper {
                    img {
                        transform: scale(1.3);
                    }
                }
            }

            .name-wrapper {
                position: absolute;
                width: 100%;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                align-items: flex-end;

                p {
                    width: 100%;
                    position: relative;
                    margin: 0;
                    padding: 10px;
                    font-size: 15px;
                    font-weight: bold;
                    color: $white;
                    transition: all 1.5s ease-in-out;
                }
            }
        }
    }
}
