.flights-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $secondary-color;

    .flights-item {
        width: 100%;
        display: flex;
        position: relative;
        background-color: $secondary-color;
        color: $white;

        a {
            color: $white;
        }

        &:nth-child(odd){
            background-color: transparent;
        }

        @media #{$small-and-down} {
            overflow: hidden;
        }

        .flights-link {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px;
            font-size: 12px;
            cursor: pointer;
        }

        .flights-name {
            width: 150px;
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 13px;
        }
    }
}

.combination-table {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px 0;
    border: 1px solid $white;

    .combination-row {
        width: 100%;
        padding: 3px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border-bottom: 1px solid $white;

        .combination-link {
            width: 60%;
            display: flex;
            align-items: center;
            background: $secondary-color;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $primary-color;
            }

            a {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                transition: all 0.3s ease-in-out;
                color: $white;
                font-weight: bold;
                font-size: 12px;
            }

            @media #{$small-and-down} {
                width: 100%;
            }
        }

        .combination-name {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            font-size: 13px;
            font-weight: bold;
            background: $primary-color;
            color: $white;

            @media #{$small-and-down} {
                width: 100%;
            }
        }
    }
}
