.component-advantages {
  width: 100%;
  min-height: 400px;
  display: flex;
  position: relative;
  margin: 50px 0;
  background-image: url("#{$images_path}advantages-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .advantages-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px;

    .advantages-content {
      max-width: 52%;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 70px 13px 35px 13px;

      @media #{$medium-and-down} {
        max-width: 62%;
        padding: 54px 13px;
      }

      @media #{$small-and-down} {
        max-width: 100%;
        padding: 20px 13px;
      }

      .advantages-list {
        width: 100%;
        counter-reset: headings;
        padding-right: 40px;
        padding-left: 0;
        list-style: none;
        margin: 0;
        color: $white;

        li {
          font-size: 16px;
          position: relative;
          padding: 0 0 0 52px;
          margin-bottom: 42px;
          line-height: 22px;

          @media #{$medium-and-down} {
            margin-bottom: 20px;
          }

          @media #{$small-and-down} {
            margin-bottom: 18px;
          }

          &:before {
            counter-increment: headings;
            content: counter(headings, decimal);
            width: 32px;
            height: 32px;
            border: 2px solid #fff;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            line-height: 28px;
            font-weight: 500;
            text-align: center;
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
      }
    }

    .advantages-image {
      width: 560px;
      height: 737px;
      position: absolute;
      left: 44%;
      bottom: 0;
      background-image: url("#{$images_path}advantages__img-bg.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: cover;

      @media #{$medium-and-down} {
        width: 352px;
        height: 465px;
        left: auto;
        right: -4%;
      }

      @media #{$small-and-down} {
        display: none;
      }
    }
  }
}