.breadcrumbs {
    width: 100%;
    display: flex;
    margin: 5px 0;

    ol {
        width: 100%;
        list-style: none;
        display: inline-block;
        padding: 10px;

        li {
            font-size: 14px;
            float: left;
            display: flex;
            align-items: center;
            margin: 5px 0;

            @media #{$small-and-down} {
                width: 100%;
                justify-content: center;
                text-align: center;
            }

            i {
                margin: 0 5px;
                color: $blue;
            }

            a {
                font-weight: bold;
                text-decoration: none;

                span {
                    color: $blue;
                }

                &:hover {
                    span {
                        color: $orange;
                    }
                }
            }

            span {
                font-weight: bold;
                color: $black;
            }
        }
    }
}
