.component-calendar {
  width: 100%;
  display: flex;
  margin: 50px 0;

  .calendar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .calendar-blocks {
      width: 100%;
      display: flex;
      margin: 50px 0;

      .calendar-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .calendar-circle {
          width: 84px;
          height: 84px;
          position: relative;
          border: 2px solid $blue;
          border-radius: 50%;
          margin: 5px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .circle-number {
            width: 26px;
            height: 26px;
            position: absolute;
            left: -3px;
            top: -3px;
            background: $blue;
            color: $white;
            font-size: 13px;
            font-weight: bold;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .circle-icon {
            width: 50px;
            height: 50px;
            color: $blue;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .calendar-text {
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          font-size: 15px;
          text-align: center;
          font-weight: normal;
        }
      }
    }
  }

  .calendar-widget {
    width: 100%;

    @media #{$small-and-down} {
      padding: 0 5px;
    }
  }
}
