.pagination-component {
    width: 100%;
    display: flex;
    margin: 20px 0;

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .pagination-page {
            padding: 0;
            margin: 0;

            .page-link {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: $blue;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                i {
                    font-size: 18px;
                }

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }

            .page-name {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                color: $black;
                border-radius: 50%;
                cursor: not-allowed;

                i {
                    font-size: 18px;
                }
            }

            &.page-title {
                max-width: 80%;
                height: 30px;
                display: inline-block;
                line-height: 30px;
                font-size: 13px;
                font-weight: bold;
                margin: 0 5px;
                padding: 0 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background: $gray;
                border-radius: 10px;
            }
        }
    }
}
