.component-popular {
  width: 100%;
  display: flex;
  position: relative;
  margin: 50px 0;

  .popular-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 10px;

    .popular-items {
      width: 100%;
      margin: 20px 0;

      .popular-item {
        padding: 20px;
      }
    }
  }
}