.component-search {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 60px;
    margin-top: $header-height;
    transform: scale(1);
    background-image: url("#{$images_path}present-bg.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .search-container {
        width: 100%;
        position: relative;

        .app-logo {
            width: 100%;
            height: 80px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .search-widget {
            width: 100%;
        }
    }

    .flights-stats {
        width: 100%;
        position: relative;
        display: flex;
        margin: 10px 0;

        .stat-item {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .stat-icon {
                margin: 5px;
                font-size: 25px;
                color: $white;
            }

            .stat-title {
                font-size: 18px;
                line-height: 22px;
                padding: 0 15px;
                color: $white;
            }
        }
    }
}
