.component-social-icons {
    width: 100%;
    display: flex;
    margin: 50px 0;

    .social-icons-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .social-icons-list {
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;

            .social-link-item {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                background: $orange;
                color: $white;
                font-size: 20px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: $blue;
                }
            }
        }
    }
}
