.component-subscribe {
    width: 100%;
    background: $blue;
    display: flex;

    .subscribe-wrapper {
        width: 100%;
        margin: 50px 0;
        display: flex;
        position: relative;

        .tp-sbscr-widget {
            background: $blue !important;
        }
    }
}
