.airports-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .airports-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0;

        .airport-column {
            padding: 10px;

            .airport-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }

                a {
                    width: 100%;
                    padding: 10px;
                    margin: 5px 0;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}
