.cities-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .primary-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .cities-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0;

        .city-column {
            padding: 10px;
        }
    }
}
