.flights-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;

    .flights-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 20px 0;

        .flight-column {
            padding: 10px;

            .list-item {
                overflow: hidden;


                &:hover {
                    overflow: hidden;

                    .image-wrapper {
                        overflow: hidden;

                        .from-img {
                            top: 0;
                            left: 0;
                            transform: rotate(0deg) translate(0, 0) scale(1);
                        }

                        .to-img {
                            top: 0;
                            right: 0;
                            transform: rotate(0deg) translate(0, 0) scale(1);
                        }
                    }
                }

                .image-wrapper {
                    overflow: visible;
                    background: #064d61;

                    .from-img {
                        width: 70%;
                        position: absolute;
                        left: 0;
                        top: -10%;
                        transform: rotate(30deg) translate(70%, -15%) scale(1.2);
                        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
                        background-color: $gray;
                        transition: all 0.5s ease-in-out;
                    }

                    .to-img {
                        width: 70%;
                        position: absolute;
                        right: 0;
                        top: -10%;
                        transform: rotate(-30deg) translate(-70%, -15%) scale(1.2);
                        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
                        background-color: $gray;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}
