.app-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 10px;
    background-color: $primary-color;

    .links-column {
        overflow: hidden;
    }

    .footer-links {
        width: 100%;
        display: flex;
        position: relative;

        .footer-links-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;

            .links-box {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 5px;

                .links-box-wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 15px 20px;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: $secondary-color-transparent;

                    .link-box-header {
                        width: 100%;
                        margin-top: 0;
                        padding: 5px;
                        font-size: 14px;
                        font-weight: bold;
                        color: $primary-color;
                        text-align: center;
                        text-transform: uppercase;

                        @media #{$small-and-down} {
                            text-align: center;
                        }
                    }
                }
            }

            .link-item {
                width: 100%;
                padding: 10px;
                margin-bottom: 5px;
                font-size: 13px;
                text-decoration: none;
                color: $white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                background-color: $secondary-color-transparent;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color-transparent;
                }

                &.separated {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media #{$small-and-down} {
                    text-align: center;
                }
            }

            .main-link {
                width: 100%;
                margin: 5px 0;
                font-size: 14px;
                font-weight: bold;
                color: $primary-color;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;

                &:hover {
                    color: $white;
                }

                .name {
                    margin-right: 5px;
                }

                @media #{$small-and-down} {
                    text-align: center;
                }
            }

            .combination-links {
                width: 100%;
                padding: 10px;
                margin-bottom: 5px;

                .link-item {
                    padding: 0 25px;
                }

                .main-link {
                    padding: 0 25px;
                }
            }
        }
    }

    .footer-icons {
        width: 100%;
        display: flex;
        position: relative;
        background: $black;

        .footer-icons-wrapper {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }

    .footer-rights {
        width: 100%;
        display: flex;
        position: relative;
        background: $black;

        .footer-rights-wrapper {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
}
