.app-header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: $primary-color;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 99999;

    .app-header-wrapper {
        width: 100%;
        height: $header-height;
        position: relative;
        display: flex;
        justify-content: space-between;

        .header-section {
            height: 100%;
            position: relative;
            display: flex;

            .app-logo {
                padding: 20px;

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                }
            }

            .header-menu-item {
                padding: 10px 20px;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: $white;
                cursor: pointer;

                &:before {
                    content: '';
                    width: 0;
                    height: 2px;
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    background: $secondary-color;
                    transition: all 0.3s ease-in-out;
                }

                &.active,
                &:hover {
                    color: $secondary-color;

                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#mobile-menu {
    display: none;

    @media #{$medium-and-down} {
        display: block;
    }
}

#web-menu {
    display: flex;

    @media #{$medium-and-down} {
        display: none;
    }
}

.header-side-nav {
    width: 250px;
    height: 100%;
    z-index: 99999;

    .mobile-logo {
        width: 100%;
        height: 60px;
        background: $primary-color;
        padding: 10px 20px;

        &:hover {
            background: $primary-color;
        }
    }

    .mobile-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        .mobile-menu-item {
            width: 100%;

            .menu-link {
                width: 100%;
                height: 45px;
                float: left;
                line-height: 45px;
                font-size: 13px;
                font-weight: bold;
                color: $primary-color;
                padding: 0 15px;
                border-bottom: 1px solid $gray;

                &:hover {
                    background: $primary-color;
                    color: $white;
                }
            }
        }
    }
}
